<div class="flex h-full w-full flex-col gap-4">
  <app-header
    text="Modelo Predictivo de Machine Learning Diagnostico"
  ></app-header>

  <div
    class="flex flex-col gap-4 rounded-xl border-[1px] border-gray-300 bg-base-100 p-4"
  >
    <h2 class="text-xl font-bold">Ingresar datos del paciente a predecir</h2>

    <div class="flex flex-row items-center justify-between gap-6">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Tipo de Identificación</span>
        </div>
        <select
          [formControl]="form.controls.identification_type"
          class="select select-bordered w-full"
        >
          @for (identification of identificationTypes; track identification) {
            <option [ngValue]="identification">{{ identification }}</option>
          }
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Genero</span>
        </div>
        <select
          [formControl]="form.controls.gender"
          class="select select-bordered w-full"
        >
          @for (gender of genders; track gender) {
            <option [ngValue]="gender">{{ gender }}</option>
          }
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Fecha de nacimiento</span>
        </div>
        <input
          [formControl]="form.controls.birth_date"
          class="input input-bordered w-full"
          type="date"
        />
      </label>
    </div>

    <div class="flex flex-row items-center justify-between gap-6">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Fecha de la consulta</span>
        </div>
        <input
          [formControl]="form.controls.consultation_date"
          class="input input-bordered w-full"
          type="date"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Asunto de la consulta</span>
        </div>
        <select
          [formControl]="form.controls.subject"
          class="select select-bordered w-full"
        >
          @for (subject of coreSubjects; track subject) {
            <option [ngValue]="subject">{{ subject }}</option>
          }
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Tipo de procedimiento</span>
        </div>
        <select
          [formControl]="form.controls.procedure_type"
          class="select select-bordered w-full"
        >
          @for (procedure of procedureTypes; track procedure) {
            <option [ngValue]="procedure">{{ procedure }}</option>
          }
        </select>
      </label>
    </div>

    <div class="flex flex-row items-center justify-between gap-6">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Tipo de compromiso</span>
        </div>
        <select
          [formControl]="form.controls.commitment_type"
          class="select select-bordered w-full"
        >
          @for (commitment of commitmentTypes; track commitment) {
            <option [ngValue]="commitment">{{ commitment }}</option>
          }
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Estado de la cita</span>
        </div>
        <select
          [formControl]="form.controls.appointment_status"
          class="select select-bordered w-full"
        >
          @for (status of appointmentStatuses; track status) {
            <option [ngValue]="status">{{ status }}</option>
          }
        </select>
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Tipo de usuario</span>
        </div>
        <select
          [formControl]="form.controls.user_type"
          class="select select-bordered w-full"
        >
          @for (userType of userTypes; track userType) {
            <option [ngValue]="userType">{{ userType }}</option>
          }
        </select>
      </label>
    </div>

    <div class="divider m-0"></div>

    <div class="flex flex-row items-center justify-end gap-6">
      <button
        (click)="form.reset()"
        [disabled]="isLoading"
        class="btn btn-ghost underline"
      >
        Restablecer
      </button>
      <button
        (click)="sendPrediction()"
        [disabled]="isLoading"
        class="btn btn-secondary"
      >
        {{ isLoading ? 'Cargando...' : 'Iniciar Predicción' }}
      </button>
    </div>
  </div>

  <div
    class="flex flex-col gap-4 rounded-xl border-[1px] border-gray-300 bg-base-100 p-4"
  >
    <h2 class="text-xl font-bold">Predicciones realizadas previamente</h2>

    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha predicción</th>
            <th>Genero</th>
            <th>Fecha nacimiento</th>
            <th>Asunto</th>
            <th>Tipo de compromiso</th>
            <th>Tipo de procedimiento</th>
            <th>Diagnostico predecido</th>
          </tr>
        </thead>
        <tbody>
          @if (predictions$ | async; as predictions) {
            @for (prediction of predictions; track prediction.created_at) {
              <tr>
                <td>
                  {{ prediction.created_at.split('T')[0] }} -
                  {{ prediction.created_at.split('T')[1].substring(1, 5) }}
                </td>
                <td>{{ prediction.gender }}</td>
                <td>{{ prediction.birth_date }}</td>
                <td>{{ prediction.subject }}</td>
                <td>{{ prediction.commitment_type }}</td>
                <td>{{ prediction.procedure_type }}</td>
                <td>{{ prediction.prediction }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
