<aside class="flex h-full flex-col items-start p-3">
  <ul
    class="menu flex h-full w-full flex-col justify-between rounded-box bg-base-100 shadow-lg"
  >
    <div class="flex flex-col gap-4">
      <h1 class="pb-4 pt-2 text-center text-4xl font-extrabold text-secondary">
        Data<strong class="text-primary-content">CAP</strong>
      </h1>
      @for (menuItem of menuItems; track menuItem.path) {
        <li>
          <a
            [routerLink]="menuItem.path"
            routerLinkActive="bg-secondary text-white hover:bg-blue-600 focus:!bg-secondary focus:!text-white "
            class="p-4"
          >
            {{ menuItem.displayName }}
          </a>
        </li>
      }
    </div>
    <div class="border-t-2 border-t-base-200 py-2">
      <button (click)="logout()" class="btn btn-ghost w-full">
        <span class="material-symbols-outlined"> logout </span>
        Cerrar Sesión
      </button>
    </div>
  </ul>
</aside>
