<aside class="flex h-full flex-col items-start p-3">
  <ul class="menu bg-base-100 rounded-box h-full w-full gap-4 shadow-lg">
    <h1 class="text-secondary pb-4 pt-2 text-center text-4xl font-extrabold">
      Data<strong class="text-primary-content">CAP</strong>
    </h1>
    @for (menuItem of menuItems; track menuItem.path) {
      <li>
        <a
          [routerLink]="menuItem.path"
          routerLinkActive="bg-secondary text-white"
          class="p-4"
        >
          {{ menuItem.displayName }}
        </a>
      </li>
    }
  </ul>
</aside>
