<router-outlet></router-outlet>

@if (alertToastState$ | async; as alertToastState) {
  <div
    (click)="closeAlertToast()"
    [ngClass]="{
      'opacity-0': !alertToastState.isOpen,
      'opacity-100': alertToastState.isOpen,
    }"
    class="alert {{
      alertToastState.class
    }} fixed bottom-8 right-8 w-96 cursor-pointer transition-opacity duration-500"
    role="alert"
  >
    <span class="material-symbols-outlined">
      {{ alertToastState.icon }}
    </span>
    <span>{{ alertToastState.text }}</span>
    <span class="material-symbols-outlined"> close </span>
  </div>
}
