<div class="flex flex-col gap-8 rounded-xl bg-base-100 p-8 shadow-lg">
  <h1 class="px-20 text-6xl font-extrabold text-secondary">
    Data<strong class="text-primary-content">CAP</strong>
  </h1>

  <label class="input input-bordered mx-6 flex items-center gap-2">
    <span class="material-symbols-outlined opacity-70"> mail </span>
    <input class="grow" placeholder="Correo electrónico" type="text" />
  </label>

  <label class="input input-bordered mx-6 flex items-center gap-2">
    <span class="material-symbols-outlined opacity-70"> lock </span>
    <input class="grow" placeholder="Contraseña" type="password" />
  </label>

  <button class="btn btn-secondary mx-6">Iniciar Sesión</button>

  <span class="text-center">
    ¿No tienes una cuenta?
    <a class="text-secondary" routerLink="/auth/register">Registrate</a>
  </span>
</div>
