<div class="flex h-full w-full flex-col">
  <app-header class="w-full" text="Módulo de Carga de Datos"></app-header>
  <div class="flex flex-grow items-center justify-center">
    <div
      class="bg-base-100 mb-16 flex flex-col items-center justify-center rounded-xl p-16 pt-12 shadow-lg"
    >
      <span class="material-symbols-outlined text-secondary text-[12rem]">
        upload
      </span>
      <p class="pb-12 text-4xl opacity-80">Arrastra y suelta un archivo o...</p>

      <div class="w-100 flex flex-row gap-5">
        <input
          class="file-input file-input-bordered file-input-secondary w-72 max-w-xs"
          type="file"
        />

        <button (click)="submitFile()" class="btn px-12">ENVIAR</button>
      </div>
    </div>
  </div>
</div>
