<div class="flex h-full w-full items-center justify-center">
  <div
    class="mb-16 flex w-3/4 flex-col items-center justify-center gap-6 rounded-xl border-[1px] border-gray-300 bg-base-100 p-6"
  >
    <div class="w-full flex-col items-start">
      <h2 class="text-3xl font-bold">Cargar datos</h2>
      <p class="pt-2 text-gray-500">
        Acá puedes cargar los archivos de <strong>RIPS</strong> y los de los
        <strong>informes mensuales</strong>. Estos archivos serán procesados
        desde el navegador para encriptar las cédulas de los pacientes. Y
        posteriormente serán cargados a la base de datos. Recuerda que los
        documentos originales con las cédulas sin códificar no serán enviados a
        ningún lado.
      </p>
    </div>

    <div class="flex w-full items-center justify-center">
      <label
        class="flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100"
        for="dropzone-file"
      >
        <div class="flex flex-col items-center justify-center pb-6 pt-5">
          <span class="material-symbols-outlined mb-4 text-4xl text-gray-500">
            upload_file
          </span>
          <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold">
              Presiona para seleccionar archivos
            </span>
            o arrastralos a esta zona
          </p>
          <p class="text-xs text-gray-500">
            Solo se permiten archivos .xlsx y que inicien por "Rips" o "Informe"
          </p>
        </div>
        <input
          #inputFile
          (input)="filesLoaded($event)"
          [multiple]="true"
          accept=".xlsx"
          class="hidden"
          id="dropzone-file"
          type="file"
        />
      </label>
    </div>

    <div class="flex w-full flex-row justify-between">
      <div class="flex w-1/2 flex-row flex-wrap items-center gap-2">
        @if (fileInput !== null) {
          @if (fileList().length > 0) {
            @for (file of fileList(); track file.name) {
              <kbd class="kbd text-xs">
                {{ file.name }}
              </kbd>
            }
          }
        }
      </div>
      <div class="flex flex-row items-end gap-6">
        <button
          (click)="cleanSelection()"
          class="btn btn-ghost underline"
          data-testid="submit-file-button"
        >
          Limpiar selección
        </button>
        <button
          (click)="submit()"
          class="btn btn-secondary"
          data-testid="submit-file-button"
        >
          Enviar archivos
        </button>
      </div>
    </div>
  </div>
</div>
